body {
  font-family: Arial, sans-serif;
  background: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;

  color: white;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
  
}
.loginContainer {
  align-content: center;
  margin-left: 25%;
  margin-right: 25%;
  border: 5px solid #bea3c2;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  width: 50%;
}
.loginForm{
  label{
    display: block;
    justify-content: left;
    margin-bottom: .5em;
  }
  input{
    display: inline-block;
    justify-content: right;
    margin-bottom: 1.5em;
  }
  button{
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 1em;
    text-align: center;
    width: 20%;
    background-color: rgb(87, 161, 53);
    color: antiquewhite;
    font-style: arial;
    border-width: 5px;
    border-color: #a48ba8;
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
  
  }
}
.habitCard {
  background-color: transparent;
  border: 1px solid white;
  color: antiquewhite;
  margin: 10px;
}