body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;

  color: white;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;

button{
  display: block;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 1em;
  text-align: center;
  width: 20%;
  background-color: rgb(87, 161, 53);
  color: antiquewhite;
  font-style: arial;
  border-width: 5px;
  border-color: #8e6894;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
                        
      }
  
}
.loginContainer {
  align-content: center;
  margin-left: 25%;
  margin-right: 25%;
  border: 5px solid #bea3c2;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  width: 50%;
}
.loginForm{
  label{
    display: block;
    justify-content: left;
    margin-bottom: .5em;
  }
  input{
    display: inline-block;
    justify-content: right;
    margin-bottom: 1.5em;
  }

}
.habitCard {
  background-color: transparent;
  border: 1px solid white;
  color: antiquewhite;
  margin: 10px;
}
.Month {
  
  background: linear-gradient(to bottom right, rgba(82, 19, 230, 0.9), rgba(255,255,255,.2)), coral;
  border: 4px solid rgb(190, 190, 182);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.Day {
  background-color: rgba(207, 75, 255, 0.638);
  border: 4px solid purple;
  border-radius: 10px;
  color: white;
  margin: 5px;
  text-align: center;
  h3{
    text-align: left;
    padding-left: 3%;
  }
}



  
